<a href="https://colab.research.google.com/github/jtwang1027/cancer_omics/blob/master/2_pipeline_multi_cell_line.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from math import sqrt

In [0]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

TensorFlow 2.x selected.
Found GPU at: /device:GPU:0

In [0]:
dir="/content/drive/My Drive/complete_cell_lines"
file_list=[]
for file in os.listdir(dir):
    if file.endswith(".csv"):
        file_list.append(os.path.join(dir, file))
print(file_list)

['/content/drive/My Drive/complete_cell_lines/184a1.csv', '/content/drive/My Drive/complete_cell_lines/bt20.csv', '/content/drive/My Drive/complete_cell_lines/bt474.csv', '/content/drive/My Drive/complete_cell_lines/bt549.csv', '/content/drive/My Drive/complete_cell_lines/cal148.csv', '/content/drive/My Drive/complete_cell_lines/cal51.csv', '/content/drive/My Drive/complete_cell_lines/cal851.csv', '/content/drive/My Drive/complete_cell_lines/du4475.csv', '/content/drive/My Drive/complete_cell_lines/efm192a.csv', '/content/drive/My Drive/complete_cell_lines/evsat.csv', '/content/drive/My Drive/complete_cell_lines/hbl100.csv', '/content/drive/My Drive/complete_cell_lines/hcc1187.csv', '/content/drive/My Drive/complete_cell_lines/hcc1395.csv', '/content/drive/My Drive/complete_cell_lines/hcc1419.csv', '/content/drive/My Drive/complete_cell_lines/hcc1500.csv', '/content/drive/My Drive/complete_cell_lines/hcc1569.csv', '/content/drive/My Drive/complete_cell_lines/hcc1599.csv', '/content/drive/My Drive/complete_cell_lines/hcc1937.csv', '/content/drive/My Drive/complete_cell_lines/hcc1954.csv', '/content/drive/My Drive/complete_cell_lines/hcc2157.csv', '/content/drive/My Drive/complete_cell_lines/hcc2185.csv', '/content/drive/My Drive/complete_cell_lines/hcc3153.csv', '/content/drive/My Drive/complete_cell_lines/hcc38.csv', '/content/drive/My Drive/complete_cell_lines/hcc70.csv', '/content/drive/My Drive/complete_cell_lines/hdqp1.csv', '/content/drive/My Drive/complete_cell_lines/jimt1.csv', '/content/drive/My Drive/complete_cell_lines/mcf10a.csv', '/content/drive/My Drive/complete_cell_lines/mcf10f.csv', '/content/drive/My Drive/complete_cell_lines/mcf7.csv', '/content/drive/My Drive/complete_cell_lines/mdakb2.csv', '/content/drive/My Drive/complete_cell_lines/mdamb134vi.csv', '/content/drive/My Drive/complete_cell_lines/mdamb157.csv', '/content/drive/My Drive/complete_cell_lines/mdamb175vii.csv', '/content/drive/My Drive/complete_cell_lines/mdamb361.csv', '/content/drive/My Drive/complete_cell_lines/mdamb415.csv', '/content/drive/My Drive/complete_cell_lines/mdamb453.csv', '/content/drive/My Drive/complete_cell_lines/mfm223.csv', '/content/drive/My Drive/complete_cell_lines/mpe600.csv', '/content/drive/My Drive/complete_cell_lines/mx1.csv', '/content/drive/My Drive/complete_cell_lines/ocubm.csv', '/content/drive/My Drive/complete_cell_lines/t47d.csv', '/content/drive/My Drive/complete_cell_lines/uacc812.csv', '/content/drive/My Drive/complete_cell_lines/uacc893.csv', '/content/drive/My Drive/complete_cell_lines/zr7530.csv']

In [0]:
#what columns are common to all data?
col=set()
for f in file_list:
  curr=pd.read_csv(f, index_col=0, nrows=10)
  curr.dropna(axis=1, inplace=True) 
  curr=curr.columns.tolist()
  curr=set(curr)
  # print(f)
  if col==set():
    col=curr # set as baseline columns
  else:
    col.intersection(curr)
    # print(f)
col= list(col)

In [0]:
col

['cleavedCas',
 'Ki.67',
 'fileID',
 'p.JNK',
 'p.SRC',
 'b.CATENIN',
 'time',
 'p.p38',
 'p.PDPK1',
 'p.BTK',
 'p.MKK3.MKK6',
 'p.SMAD23',
 'p.H3',
 'p.STAT3',
 'p.Akt.Ser473.',
 'p.STAT5',
 'IdU',
 'p.AKT.Thr308.',
 'p.MEK',
 'p.NFkB',
 'p.GSK3b',
 'p.S6K',
 'cellID',
 'p.ERK',
 'cell_line',
 'p.MKK4',
 'p.MAP2K3',
 'p.MAPKAPK2',
 'p.AMPK',
 'p.HER2',
 'p.STAT1',
 'p.PLCg2',
 'p.p53',
 'p.4EBP1',
 'p.RB',
 'p.CREB',
 'GAPDH',
 'p.S6',
 'p.FAK',
 'CyclinB',
 'p.p90RSK']

In [0]:
#which cell lines have treatment data
file_tr=[]
for f in file_list:
  curr=pd.read_csv(f, index_col=0, nrows=0).columns.tolist()
  # print(f)
  if 'p.STAT5' in curr:
    file_tr.append(f)
# file_tr

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
def process(filenames, predictor= 'p.STAT5'):
  ''' input filename, downloads csv, preprocessing, minmaxscaling
  returns X and y for train/test/split ; predictor is the predictor column'''
  
  df=pd.DataFrame()
  for fi in filenames:
    temp= pd.read_csv(fi)
    df=pd.concat([df,temp],axis=0)
    
  df.dropna(axis=1, inplace=True)
  #should add in synchronization for treatment times
  
  if 'treatment' in df.columns: # will likely get dropped, not in all datasets
    encoded1=pd.get_dummies(df.treatment, drop_first=True)
    df=df.join(encoded1)
#   if 'cell_line' in df.columns: #one hot encode cell line
#     print(f'# unique lines: {df.cell_line.unique()}')
#     encoded2=pd.get_dummies(df['cell_line'], drop_first=False)
#     print(encoded2)
#     print('cell line encoded')
#     df=df.join(encoded2)
  
  df=df.select_dtypes(include=['float64'])#,'uint8'])
  
#   predictor=df.columns[-1] #make it the last one
  
  print(f'predictor column: {predictor}')
  
  X= df.drop([predictor], axis=1)
  
  #scale remaining columns
  scaler=MinMaxScaler()
  X[X.columns]=scaler.fit_transform(X)

  
  
  y= df[predictor]

  return(X,y)

In [0]:
X,y= process(file_list[:4])

predictor column: p.STAT5

In [0]:
temp1=pd.read_csv(file_list[0])
temp2=pd.read_csv(file_list[1])

In [0]:
temp=pd.concat([temp1,temp2], axis=0)
temp.columns

Index(['treatment', 'cell_line', 'time', 'cellID', 'fileID', 'b.CATENIN',
       'cleavedCas', 'CyclinB', 'GAPDH', 'IdU', 'Ki.67', 'p.4EBP1',
       'p.Akt.Ser473.', 'p.AKT.Thr308.', 'p.AMPK', 'p.BTK', 'p.CREB', 'p.ERK',
       'p.FAK', 'p.GSK3b', 'p.H3', 'p.HER2', 'p.JNK', 'p.MAP2K3', 'p.MAPKAPK2',
       'p.MEK', 'p.MKK3.MKK6', 'p.MKK4', 'p.NFkB', 'p.p38', 'p.p53',
       'p.p90RSK', 'p.PDPK1', 'p.PLCg2', 'p.RB', 'p.S6', 'p.S6K', 'p.SMAD23',
       'p.SRC', 'p.STAT1', 'p.STAT3', 'p.STAT5'],
      dtype='object')

In [0]:
temp.cell_line.unique()

array(['184A1', 'BT20'], dtype=object)

In [0]:
encoded2=pd.get_dummies(df['cell_line'], drop_first=True)

In [0]:
encoded2=pd.get_dummies(temp['cell_line'], drop_first=False)

In [0]:
temp.cell_line.unique()

array(['184A1', 'BT20'], dtype=object)

In [0]:
encoded2

        184A1  BT20
0           1     0
1           1     0
2           1     0
3           1     0
4           1     0
...       ...   ...
412576      0     1
412577      0     1
412578      0     1
412579      0     1
412580      0     1

[784959 rows x 2 columns]

In [0]:
# temp.join(encoded2)
pd.merge(temp, encoded2, left_index=True, right_index=True)

       treatment cell_line  time  cellID  ...   p.STAT3   p.STAT5  184A1  BT20
0            EGF     184A1   0.0       1  ...  0.704653 -0.577393      1     0
0            EGF     184A1   0.0       1  ...  0.704653 -0.577393      0     1
0            EGF      BT20   0.0       1  ...  2.849716  2.469874      1     0
0            EGF      BT20   0.0       1  ...  2.849716  2.469874      0     1
1            EGF     184A1   0.0       1  ...  3.121248  2.679670      1     0
...          ...       ...   ...     ...  ...       ...       ...    ...   ...
412576      iPKC      BT20  60.0   10943  ...  1.729814  2.447808      0     1
412577      iPKC      BT20  60.0   10944  ...  2.142585  3.319022      0     1
412578      iPKC      BT20  60.0   10945  ...  1.050310  2.818219      0     1
412579      iPKC      BT20  60.0   10946  ...  1.885875  2.761818      0     1
412580      iPKC      BT20  60.0   10947  ...  1.146370  2.888254      0     1

[1529715 rows x 44 columns]

In [0]:
encoded2.dtypes

184A1    uint8
BT20     uint8
dtype: object

In [0]:
temp.cell_line.unique()

array(['184A1', 'BT20'], dtype=object)

In [0]:
X.head()

   time  b.CATENIN  cleavedCas  ...     p.SRC   p.STAT1   p.STAT3
0   0.0   0.000000    0.086165  ...  0.035064  0.233791  0.008185
1   0.0   0.247093    0.315549  ...  0.428910  0.461356  0.386910
2   0.0   0.130996    0.160565  ...  0.198114  0.402057  0.120641
3   0.0   0.125813    0.000000  ...  0.318338  0.455991  0.050687
4   0.0   0.315330    0.151789  ...  0.151538  0.247885  0.249143

[5 rows x 37 columns]

In [0]:
from tensorflow.python.keras.layers import Dense, BatchNormalization
from tensorflow.python.keras import Sequential
import tensorflow.python.keras

In [0]:
 def build_model():
  model = Sequential([
    Dense(24, activation='relu', input_shape=[len(X.columns)]),
    Dense(12, activation='relu'),
    BatchNormalization(),
    Dense(12, activation='relu'),
    Dense(1)
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])
  return model

model=build_model()

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25, random_state=1234)

In [19]:
EPOCHS = 1
# batch_size= 
# with tf.device('/device:GPU:0'):
history=model.fit(X_train, y_train, epochs=EPOCHS, validation_split=0.2, verbose=2)#, callbacks=[ tfdocs.modeling.EpochDots() ])

Train on 3387751 samples, validate on 846938 samples
3387751/3387751 - 399s - loss: 0.1837 - mae: 0.3259 - mse: 0.1837 - val_loss: 0.1816 - val_mae: 0.3230 - val_mse: 0.1816

In [20]:
#test set performance (from same cell lines)
test_predictions=model.predict(X_test)
rms = sqrt(mean_squared_error(test_predictions, y_test))
rms

0.4262550230459251

In [21]:
#how well does this model perform on other cell lines?
Xf,yf = process(file_list[-2:])

predictor column: p.STAT5

In [22]:
#test set performance (from different cell lines)
test_predictions=model.predict(Xf)
rms = sqrt(mean_squared_error(test_predictions, yf))
rms

0.649519943977728